@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url("l.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 90%;
    margin: auto;
}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color:#eb7620;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color:#eb7620 ;
    transition: 0.5s ease;
}
nav ul li .active{
    background-color: #eb7620;
}
.artical{
    width: 50%;
    margin: 15%;
    text-align: center;
    transform: translate(25vh);
}
.artical h1{
    font-size: 36px;
    color:black;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}
.artical p {
    font-size: 18px;
    color: #7e7e7e;
    line-height: 1.5;
    margin-bottom: 50px;
}
.artical .btn{
    color: black;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f15048;
}
.artical .btn:hover{
    background-color: #4399fa;
    transition: 0.5s ease;
}